body{
    font-size: 16px;
    font-weight: normal;
    font-family: Bradley Hand, cursive;
    display: flex;
  height:100vh;
  align-items: center;
  justify-content: center;
  background-color: #06070e;
    
    
    
}
h2{
    text-align: center;
    
    
}

.contact{
    text-align: center;
    color: #88b7cc;
    
}
h4{
    text-align: center;
    color: #FFFFFF;
}
h1{
    text-align: center;
    
        color: #fff;
        text-shadow:
        0 0 3px #fff,
        0 0 5px #fff,
        0 0 10px #fff,
        0 0 21px #0295DB,
        0 0 41px #0295DB;
}

a{
    color:#0295DB;
    text-decoration: none;
    
}
a:hover{
    text-decoration: underline;
}
.social{
    text-align: center;
    word-spacing: 100px;
}
.avatar{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    border-radius: 50%;
    box-shadow:  0 0 3px #fff,
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 21px #0295DB,
    0 0 41px #0295DB;
}
.info p{
    text-align: center;
    color: #88b7cc;
    margin: 0;
    font-style: italic;

}
.container{
    max-width: 80%;
    margin: auto;
}
.bg-hob{
    
    background: #FFFFFF;
    box-shadow:  0 0 3px #fff,
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 21px #0295DB,
    0 0 41px #0295DB;
}
.bg-know{
    
    background: #FFFFFF;
    box-shadow:  0 0 3px #fff,
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 21px #0295DB,
    0 0 41px #0295DB;
}
.bg-proj{
    
    text-align: center;
    color: #88b7cc;
    
}
.card{
    
    
    border-radius: 10px;
    padding: 15px;
    
    
}
.button
{
    color: #06070e;
    border: 2px solid #0295DB;
    border-radius:15px;
    padding: 15px 25px;
    font-size: 30px;
    
    letter-spacing:5px;
    cursor: pointer;
    font-weight: bold;
    filter: drop-shadow(0 0 2px #0296db7a) drop-shadow(0 0 10px #0296db7a) contrast(2) brightness(2);
    transition: .2s;
}
.button:hover {
    color: black;
    background-color: #0296db7a;
    filter: drop-shadow(0 0 20px #0296db7a) contrast(2) brightness(2);
  }

